* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
}

/* header */

.container-fluid a img {
    border-radius: 20px;
}

/* Main index */

.Title {
    text-align: center;
    font-size: 50px;
}

.Peliculas ul li {
    margin: 20px;

}

.Peliculas li img {
    border-radius: 10px;
    transition: 1s;
}

.Peliculas li img:hover {
    transition: 1s;
    transform: scale(1.1);
}

.Peliculas ul {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    list-style: none;
}

.Titlemovie {
    font-size: .950rem;
    text-align: center;
    margin-bottom: 0;
    padding-top: 2rem;
}

/* ***index/estrenos*****/

.estrenos {
    background-color: RGB(33, 37, 41);
    color: white;
    text-align: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px !important;
}

.videos iframe {
    margin: 50px;
    width: 550px;
}

.videos p {
    text-align: center;
    margin: 100px;
}

/* ****Footer*** */

.redes {
    background-color: #080f28;
}

.redes img {
    width: 60px;
}

/* MEDIAQUERY MOBILE LAST */
@media (max-width:768px) {
    .videos iframe {
        width: 500px;
    }
}

@media (max-width:425px) {
    .Peliculas ul {
        flex-direction: column;
        align-content: center;
    }

    .videos iframe {
        width: 300px;
    }
}
    @media (max-width:375px) {
        .videos iframe {
            width: 200px;
        }
    }