* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.8fr;
    grid-template-areas:
        "header header header header"
        "primeraSeccion primeraSeccion primeraSeccion primeraSeccion"
        "segundaSeccion segundaSeccion segundaSeccion aside"
        "tercerSeccion tercerSeccion tercerSeccion aside"
        "footer footer footer footer";
}

.header {
    grid-area: header;
}

/* primeraSeccion********************* */
.primeraSeccion {
    grid-area: primeraSeccion;
}

/* *********aside*********** */
.aside {
    grid-area: aside;
    background-color: RGB(33, 37, 41);
    color: white;
}



/* segundaSeccion********** */
.segundaSeccion {
    grid-area: segundaSeccion;
}

.Title {
    text-align: center;
    font-size: 50px;
}

.Peliculas ul li {
    margin: 20px;

}

.Peliculas ul {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    list-style: none;
}

.Peliculas li img {
    border-radius: 10px;
    transition: 1s;
}

.Peliculas li img:hover {
    transition: 1s;
    transform: scale(1.1);
}


.Titlemovie {
    font-size: .950rem;
    text-align: center;
    margin-bottom: 0;
    padding-top: 2rem;
}

.sobreimg{
    position: relative;
    border-radius: 10px;
}

.sobreimg:hover figcaption{
    display: block;
    border-radius: 10px;
}

.sobreimg img{
    transition: 2s;
}

.sobreimg img:hover{
    transform: scale(1.0);
    transition: 2s;
}

.sobreimg figcaption{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0 , 0 , 0 , 0.7);
    text-align: center;
    padding: 15px;
}

/* Tercerseccion*********************************** */
.tercerSeccion {
    grid-area: tercerSeccion;
}

/* ********ESTRENOS*********** */
.estrenos {
    background-color: RGB(33, 37, 41);
    color: white;
    text-align: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px !important;
}

.videos iframe {
    margin: 50px;
    width: 550px;
}

.videos p {
    text-align: center;
    margin: 100px;
}

/* fooooooooteer********************* */
.footer {
    grid-area: footer;
}

.redes {
    background-color: #080f28;
}

.redes img {
    width: 60px;
}